
	<div class="full-width-image">
		<div class="container-1350">
			<div class="image-section">
			{{content.field_image}}
				<div class="caption">
					{{content.field_caption}}
				</div>
			</div>
		</div>
	</div>