<div class="page-title-section sidebar">
	<div class="container-1510">
		<div class="left-sidebar">
			<a class="section-navigation-link js__section-navigation-link ">
				[ Sectional Navigation ]</a>
			<div class="section-navigation js__section-navigation">
				<ul>
					{% block content %}
						{{ content }}
					{% endblock %}
				</ul>
			</div>
		</div>
	</div>
</div>

