
<div class="top-alert-notification js_top-alert-notification">
	<div class="inner">
		<div class="container-1800">
			<p>{{content.field_body}}
			</p>
		</div>
		<a class="close js__top-alert-notification-close"></a>
	</div>
</div>