<div class="half-content-half-image
				  	{% if content.field_image_position == 'Left' %}
				      left-image
				  {%endif%}
				  ">
	<div class="container-885">
		<div class="outer">
			<div class="content full-format">
				{{content|without('field_image_position') }}
			</div>
			{{content.field_paragraph}}
		</div>
	</div>
</div>
