{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
	<div{{attributes.addClass(classes)}}>
		{% block content %}
{% set imagePosition = content.field_image_position|render|striptags|trim %}

<div class="half-content-half-image {% if imagePosition == 'Left' %} left-image {%endif%}">
	<div class="container-885">
		<div class="outer">
			<div class="content full-format">
      
				{{content.field_body }}
			</div>
			{{content.field_paragraph}}
		</div>
	</div>
</div>
	{% endblock %}
	</div>
{% endblock paragraph %}