{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
<header class="js__main-header">
	<div class="container-1805 flex">
		<div class="top-section flex">
			<div class="logo-section none-980">
				<a><img src="/{{ directory }}/images/logo.png"/></a>
			</div>
			<div class="logo-section-outer block-980">
				<a>
					<div class="logo-section"><img src="/{{ directory }}/images/logo-duke-health.png"/></div>
					<span>Occupational & Environmental Safety Office</span>
				</a>
			</div>
			{# header #}
			{{content}}
		</div>
	</div>
	<a class="mobile-hamburger js__mobile-hamburger"></a>
	<div
		class="menu-section js__menu-section">
		{# navigation #}
		{{ drupal_region('navigation') }}
		<a class="report-issue" href="#">Report an Issue</a>
		<a class="mobile-close js__mobilemenu-close"></a>
	</div>
</div></header><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
