<footer>
	<div class="container-1428 flex">
		<div class="left-section">
		<div class="logo-section">
		<div class="logo-section-small">
				<a><img src="/{{ directory }}/images/logo-duke.png" /></a>
				
			</div>
			<div class="logo-section-big">
			
				<a><img src="/{{ directory }}/images/logo-duke-health.png" /></a>
			</div>
			</div>
			<p>Copyright © 2022 Duke University Health System</p>
		</div>
		<div class="right-section">
		
        {{content}}
   
		</div>
	</div>
</footer>
<!-- Swiper JS and CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>