<footer>
	<div class="container-1428 flex">
		<div class="left-section">
			<div class="logo-section">
				<div class="logo-section-small">
					<a href="https://duke.edu/" title="Duke" target="_blank"><img src="/{{ directory }}/images/logo-duke.png" alt="Duke Education"/></a>
				</div>
				<div class="logo-section-big">
					<a href="https://www.dukehealth.org/" title="Duke Health" target="_blank"><img src="/{{ directory }}/images/logo-duke-health.png" title="Duke Health"/></a>
				</div>
			</div>
			<p>Copyright ©
				<script>
					document.write(new Date().getFullYear())
				</script>
				Duke University Health System</p>
		</div>
		<div class="right-section">
			{{content}}
		</div>
	</div>
</footer>
<!-- Swiper JS and CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
