{% extends 'paragraph.html.twig' %}
{% block content %}
	<div class="faq-accordian">
		<div class="container-885">
			<h2 class="h2-34">{{content.field_section_title}}</h2>
			<ul class="js__accordian">
				{{content.field_paragraph}}
			</ul>
		</div>
	</li>
</ul></div></div>{% endblock content %}
