{% extends 'paragraph.html.twig' %}
{% block content %}
<div class="five-column-list-content-with-heading">
    <div class="container-1920">
        <h2 class="text-center">Topics of interest</h2>
        <div class="list-block-outer ">

            <ul class="flex-wrap">
	{{ drupal_view('_document_library', 'block_1', paragraph.field_taxonomy.entity.tid.value) }}
        </ul>

        </div>
    </div>
</div>
{% endblock content %}