{% extends 'paragraph.html.twig' %}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
	<div{{attributes.addClass(classes)}}>
		{% block content %}
	<div class="three-column-pdf-list">
		<div class="container-1680">
			<h2 class="h2-34">Section for tagged repository
								                docs w/ hyperlinked doc title</h2>
		<ul>
				{{ drupal_view('_document_library', 'block_1', paragraph.field_taxonomy.entity.tid.value) }}
		<ul>
		</div>
	</div>
		{% endblock %}
	</div>
{% endblock paragraph %}
