<li>
{% if content.field_card_link.0['#url'].isEmpty() == FALSE %}
<a href="{{content.field_card_link.0['#url']}}" title="{{content.field_card_title|render|striptags}}">
			{%endif%}
{{content.field_card_title}}
{% if content.field_card_link.0['#url'].isEmpty() == FALSE %}
</a>
{%endif%}
</li>