{% set title = content.field_card_title|render|striptags|trim %}
<li>
{% set mediaURL = content.field_media_document|render|striptags|trim %}
	{% if mediaURL is not empty %}

		<a href="{{mediaURL}}" title="{{title}}"
class="
  {% if 
  ('.doc' in mediaURL|render|render) 
  or ('.docx' in mediaURL|render|render)
  or ('.docm' in mediaURL|render|render)
  or ('.dot' in mediaURL|render|render)
  or ('.dotm' in mediaURL|render|render)
  or ('.dotx' in mediaURL|render|render)
  %}
  icon-doc
  {% elseif 
  ('.xlxm' in mediaURL|render|render) 
  or ('.xlsx' in mediaURL|render|render) 
  or ('.xlsb' in mediaURL|render|render) 
  or ('.xltx' in mediaURL|render|render)
  or  ('.xltm' in mediaURL|render|render)
  or  ('.xls' in mediaURL|render|render)
  or  ('.xlt' in mediaURL|render|render)
  or  ('.xla' in mediaURL|render|render)
   %}
    icon-xl
{% endif %}
"
    >
			{%endif%}
			{{content.field_card_title}}
			{% if mediaURL.isEmpty() == FALSE %}
			</a>
			{%endif%}
		</li>
