/*
1. Reset
2. Elements
3. Headings
4. Buttons
5. Inner Page
6. Full Format
7. Containers
8. Extra classes for ease
    1. Text Alignment
    2. Text Transform
    3. Flex
    4. Position
    5. Float
    6. Hide and Show Blocks
    7. Alignments?
    8. Paddings
*/
/****** RESET ******/
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

body {
  font: 500 100%/0.8 $font-family-primary !important;
  color: $color-black;
  letter-spacing: normal;
  overflow-wrap: break-word;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.28;
  overflow-x: hidden;
}



::placeholder,
::-webkit-input-placeholder {
  opacity: 1 !important;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  z-index: 1;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: calc(100% + 10px);
    background-color: $color-white;
    position: absolute;
    top: 50%;
    left: -2px;
    transform: translateY(-50%);
  }
}

li {
  text-decoration: none;
  list-style: none;
}

/****** ELEMENTS ******/
::selection {
  background: $color-black;
}

p {
  font-family: $font-family-primary;
  font-size: 19px;
  font-weight: normal;
  line-height: 1.21;
  letter-spacing: normal;
}

a {
  font-family: $font-family-primary;
  color: $color-black;
  cursor: pointer;
  transition: all 0.5s ease;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 500;
}

/****** HEADINGS ******/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  color: $color-black;
}

h1, h1 a {
  font-size: 38px;
  font-weight: normal;
  text-transform: capitalize;
  line-height: 1.37;
  letter-spacing: normal;
  text-align: left;
  color: #414042;
  // &::after{
  //   content:'';
  //   position: absolute;
  //   background-color: blue;
  //   width: 30%;
  //   height: 3px;
  //   bottom: 0;
  //   left:0;
  // }

 
}

.h1-big {
  font-size: 56px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: normal;
  text-transform: capitalize;

  @include MQ(MQ-480) {
    font-size: 40px;
  }
}

h2,
.h2, h2 a {
  font-weight: normal;
  font-size: 32px;
  line-height: normal;
  letter-spacing: normal;

  @include MQ(MQ-480) {
    font-size: 28px !important;
  }
}

.h2-34 {
  font-size: 34px;

  @include MQ(MQ-480) {
    font-size: 28px;
  }
}

h3,
.h3, h3 a {
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  letter-spacing: normal;

  @include MQ(MQ-480) {
    font-size: 24px;
  }
}

h4,
.h4, h4 a {
  font-size: 27px;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 1.33;

  @include MQ(MQ-480) {
    font-size: 22px;
  }
}

h5,
.h5,h5 a {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: normal;

  @include MQ(MQ-480) {
    font-size: 20px;
  }
}

h6, h6 a {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: normal;

  @include MQ(MQ-480) {
    font-size: 18px;
  }
}

/****** BUTTONS ******/
button {
  background: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 0;

  &:focus {
    outline: none;
  }
}

.btn--primary {
  @include px-button;
}

.btn--secondary {
  @include px-button;
  background: $color-orange;
 
  color: $color-white !important;

  &::before {
    border: 2px solid $color-orange;
  }
  &:hover{
    background: $color-blue2 !important;
    &::before {
      border: 2px solid $color-blue2 !important;
    }
  }
}

.link--primary {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: 2px;
  color: $color-black;

  &.white {
    color: $color-white;
  }
}

.link--secondary {
  font-size: 19px;
  line-height: 1.21;
  font-weight: normal !important;
  display: inline-block !important;
  letter-spacing: normal;
  color: $color-orange !important;
  background: url(../images/Icon-arrow-forward.png) no-repeat center right / 9px;
  padding-right: 18px;
  color: $color-orange;

  &:hover {
    filter: brightness(0) saturate(100%) invert(21%) sepia(32%) saturate(5443%) hue-rotate(193deg) brightness(87%) contrast(101%);
  }
}

/* INNER PAGE WITH H1 */
.inner-page {
  padding: 40px 0px 80px;

  @include MQ(MQ-480) {
    padding: 20px 0px;
  }

  h1 {
    padding-bottom: 45px;

    @include MQ(MQ-480) {
      padding-bottom: 30px;
    }
  }
}

/* FULL FORMAT */
.full-format {
  font-family: $font-family-primary;
  font-weight: normal;
  font-size: 19px;
  line-height: normal;

  h5,
  h6 {
    margin-bottom: 10px;

  }

  h2 {
    margin-bottom: 20px;

  }

  h3,
  h4 {
    margin-bottom: 15px;

  }

  h2,
  h4,
  h6 {
    a{
      color: $color-blue2;
      &:hover{
        color: $color-orange;
      }
    }
    color: $color-blue2;
  }

  h3,
  h5 {
    color: $color-orange;
    a{
      color: $color-orange;
      &:hover{
        color: $color-blue2;
      }
    }
  }

  h2 {
    line-height: 1.18;
    font-size: 34px;
  }

  p {
    margin-bottom: 20px;

    &:first-child {
      margin-top: 20px;
    }
  }

  img {
    width: 100%;
    height: auto;
    padding-top: 30px;
  }

  a {
  
    text-decoration: underline;
  }



  p {
    a {
      
    
      font-family: $font-family-primary;
  font-weight: normal;
  font-size: 19px;
  line-height: normal;
  &:hover{
    color: $color-dark-blue;
  }
    }
  }

  blockquote {
    padding: 0;
    margin: 0;
    font-size: 27px;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 38px;
    color: $color-orange;

    &:first-child {
      margin-top: 0px;
    }

    @include MQ(MQ-480) {
      font-size: 22px;
    }
  }

  blockquote a{
    font-size: 27px;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    font-weight: bold;
    color: $color-orange;
    @include MQ(MQ-480) {
      font-size: 22px;
    }
    &::hover{
      color: $color-blue2;
    }
  }

  ul,
  ol {
    li {
      font-size: 19px;
      line-height: 1.68;
      letter-spacing: normal;
      list-style: none;
      padding-left: 24px;
      position: relative;

      &::before {
        width: 8px;
        height: 8px;
        content: "";
        background: $color-orange;
        position: absolute;
        left: 0px;
        top: 10px;
        border-radius: 50%;
      }
    }
  }

  ol {
    li {
      &::before {
        width: auto;
        height: auto;
        content: counter(list-item)'.';
        font-weight: bold;
        color: $color-orange;
        top: 0;
        background: transparent;
        border-radius: 0;
      }
    }
  }

  ul li a, ol li a{
    font-size: 19px;
    line-height: 1.68;
    letter-spacing: normal;
    list-style: none;
    &:hover{
      color: $color-dark-blue;
    }
  }

  ul,
  ol {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  hr {
    width: calc(100% + 156px);
    margin: 100px 0;
    margin-left: -78px;
    border-top: 2px solid $color-orange;

    @include MQ(MQ-980) {
      width: 100%;
      margin-left: 0px;
      margin: 50px 0;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  ul,
  ol,
  hr {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/****** CONTAINERS ******/
.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;

  @include MQ(MQ-768) {
    width: 100%;
  }
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  padding: 300px 0 100px;

  &.alert-hide{
    padding-top: 223px;
  }
  @include MQ(MQ-980) {
    padding: 200px 0 100px !important;
    &.alert-hide{
      padding-top: 123px;
    }
  }

  &.page {
    padding: 400px 0 180px;
    &.alert-hide{
      padding-top: 323px;
    }
  }
}

.container-1920 {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 30px;

  @include MQ(MQ-768) {
    padding: 0 20px;
  }
}

.container-1800 {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 60px;

  @include MQ(MQ-768) {
    padding: 0 30px;
  }
}

.container-1805 {
  width: 100%;
  max-width: 1805px;
  margin: 0 auto;
  padding: 0 30px;

  @include MQ(MQ-768) {
    padding: 0 20px;
  }
}

.container-1680 {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 60px;

  @include MQ(MQ-768) {
    padding: 0 30px;
  }
}

.container-1620 {
  width: 100%;
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 60px;

  @include MQ(MQ-768) {
    padding: 0 30px;
  }
}

.container-1510 {
  width: 100%;
  max-width: 1510px;
  margin: 0 auto;
  padding: 0 60px;

  @include MQ(MQ-768) {
    padding: 0 30px;
  }
}

.container-1428 {
  width: 100%;
  max-width: 1428px;
  margin: 0 auto;
  padding: 0 30px;

  @include MQ(MQ-768) {
    padding: 0 20px;
  }
}

.container-1440 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0px;
}

.container-1400 {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-1340 {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 30px;
}

.container-1350 {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 60px;

  @include MQ(MQ-768) {
    padding: 0 30px;
  }
}

.container-1380 {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 30px;
}

.container-1260 {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;

  @include MQ(MQ-768) {
    padding: 0 20px;
  }
}

.container-920 {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  padding: 0 30px;
}

.container-885 {
  width: 100%;
  max-width: 885px;
  margin: 0 auto;
  padding: 0 60px;

  @include MQ(MQ-768) {
    padding: 0 30px;
  }
}

.container-810 {
  width: 100%;
  max-width: 810px;
  margin: 0 auto;
  padding: 0 30px;
}

.container-760 {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  padding: 0 30px;
}

/* BELOW SECTION IS NEVER CHANGED */
/****** TEXT ALIGNMENT ******/
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;

  &::first-letter {
    text-transform: capitalize;
  }
}

.capitalize {
  text-transform: capitalize !important;
}

/****** FLEX ******/
.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.flex-align-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex-direction-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.flex-direction-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-justify-end {
  display: flex;
  justify-content: flex-end;
}

.flex-justify-column-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/****** OTHER EXTRA CLASSES ******/
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.clear {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.margin-auto {
  margin: 0 auto;
}

.align-center {
  align-items: center;
  justify-content: center;
}

.opacity-zero {
  opacity: 0;
}

/****** DISPLAYS ******/
/****** HIDE AND SHOW BLOCKS ******/
.hide {
  display: none !important;
}

.ipad-block {
  display: none;

  @include MQ(MQ-768) {
    display: block !important;
  }
}

.ipad-none {
  display: block;

  @include MQ(MQ-768) {
    display: none !important;
  }
}

.mobile-block {
  display: none;

  @include MQ(MQ-600) {
    display: block !important;
  }
}

.mobile-none {
  display: inline-block;

  @include MQ(MQ-600) {
    display: none !important;
  }
}

.block-980 {
  display: none;

  @include MQ(MQ-980) {
    display: block !important;
  }
}

.none-980 {
  display: block;

  @include MQ(MQ-980) {
    display: none !important;
  }
}

/* Important USED ON PDP */
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.visually-hidden--inline {
  margin: 0;
  height: 1em;
}

.js-focus-hidden:focus {
  outline: none;
}

.no-js:not(html) {
  display: none;
}

.no-js .no-js:not(html) {
  display: block;
}

.no-js .js {
  display: none;
}

.visible {
  display: block;
}

/****** ALIGNMENTS ******/
.d-inline-block {
  display: inline-block;
}

.center-align {
  margin: 0 auto;
  text-align: center;

  * {
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.left-align {
  margin: 0;
  margin-right: auto;
  text-align: left;

  * {
    margin-right: auto !important;
    text-align: left !important;
  }
}

.right-align {
  margin: 0;
  margin-left: auto;
  text-align: right;

  * {
    margin-left: auto !important;
    text-align: right !important;
  }
}

// General padding classes
.padding-bottom-0 {
  padding-bottom: 0 !important;
}

.padding-8 {
  padding: 8px;
}

.padding-16 {
  padding: 16px;
}

.padding-24 {
  padding: 24px;
}

.padding-32 {
  padding-bottom: 32px;
}

.padding-bottom-40 {
  padding-bottom: 40px !important;
}

.padding-48 {
  padding: 48px;
}

.padding-56 {
  padding: 56px;
}

.padding-80 {
  padding: 80px;
}

.sub-heading {
  font-size: 14px;
  line-height: normal;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.caption {
  position: absolute;
  bottom: 54px;
  width: calc(100% - 138px);
  left: 62px;
  z-index: 4;
  font-size: 17px;
  line-height: 1.35;
  padding-bottom: 24px;
  color: $color-white;
  border-bottom: 2px solid $color-white;

  @include MQ(MQ-480) {
    padding-bottom: 10px;
    width: calc(100% - 40px);
    bottom: 20px;
    left: 20px;
  }
}

.generic {
  position: relative;

  &::before {
    height: 554px;
    width: 100%;
    background: url(../images/bg-graphic.png) no-repeat top left / cover;
    position: absolute;
    content: '';
    left: 0;
    top: 800px;
    z-index: 1;
  }
}


:focus-visible{
  outline: 2px solid $color-yellow !important;
}