/* Forms */
.path-webform .container-1440 {
  padding: 0 60px;

  @include MQ(MQ-768) {
    padding: 0 30px;
  }
  form {
    max-width: 660px;
    // padding: 0 30px;
    margin: 0 auto;
h1{
  margin-bottom: 40px;
}
    label {
      font-size: 15px;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      color: $color-dark-blue;
      margin-bottom: 10px;
      display: block;
      text-align: left;
    }

    input[type="submit"] {
      margin-top: 20px;
      @include px-button;
      background: $color-orange;
      color: $color-white !important;
      border: none !important;

      &:hover {
        background: $color-blue2 !important;
      }
    }

    input[type="text"],
    input[type="search"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    textarea,
    select {
      width: 100%;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      border: 1px solid $color-dark-gray;
      width: 100%;
      border-radius: 26px;
      height: 44px;
      font-family: $font-family-primary;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: normal;
      color: $color-black;
      padding: 12px 20px 11px;
      margin-bottom: 20px;
      opacity: 1;
      -webkit-text-fill-color: $color-black !important;
      -webkit-box-shadow: 1000px 0px 0px 0px $color-white inset;

      &::placeholder {
        color: $color-black;
        opacity: 1;
      }

      option {
        color: $color-black;
      }
    }

    select {
      padding: 12px 40px 11px 20px;
      background: url("icon-arrow-down-green.png") no-repeat right 20px center / 14px;
      -webkit-text-fill-color: none !important;
      -webkit-box-shadow: none !important;

      @include MQ(MQ-480) {
        padding: 7px 40px 6px 20px;
        height: 34px;
      }
    }

    textarea {
      height: 200px;
    }

    .checkboxOuter {
      margin: 0;
      margin-bottom: 20px;

      label {
        display: inline-block !important;
        top: 0px !important;
        position: relative;
        padding-left: 15px;
        font-family: $font-family-primary;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: normal;
        color: $color-black;
        cursor: pointer;

        &:after {
          z-index: 2;
          content: "";
          vertical-align: middle;
          text-align: center;
          position: absolute;
          cursor: pointer;
          height: 15px;
          width: 15px;
          top: 0px;
          left: -17px;
          background: transparent;
          border-radius: 0px;
          border: solid 1px #d5d8d9;
        }
      }

      input[type="checkbox"]:checked+label:after {
        background: url("icon-check-black.png") no-repeat center / 12px;
      }

      input[type="checkbox"] {
        visibility: hidden;
        margin: 0;
      }
    }
  }

.form-item, .form-actions {

  text-align: left;
}


#captcha{
  padding: 20px;
  border: none;
  summary{
    font-size: 21px;
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: normal;
    color: #00539b;
  }
  .details-description{
    font-family: "Open Sans",sans-serif;
    font-size: 19px;
    font-weight: normal;
    line-height: 1.21;
    letter-spacing: normal;
  }
  .reload-captcha-wrapper a{
    font-size: 19px;
    line-height: 1.21;
    font-weight: normal !important;
    display: inline-block !important;
    letter-spacing: normal;
    color: #e0750b !important;
    background: url(../images/Icon-arrow-forward.png) no-repeat center right/9px;
    padding-right: 18px;
  }
}
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
