@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* Fonts */
$font-family-primary:'Open Sans', sans-serif;
/* Colors */
$color-light-black: #403e41;
$color-black: #414042;
$color-original-black: #000000;
$color-yellow: #ffd960;
$color-orange: #e0750b;
$color-blue: #005299;
$color-blue2: #00539b;
$color-white: #ffffff;
$color-green: #5b8038;
$color-dark-blue: #002650;
$color-dark-gray: #979797;
$color-faded-grey: #fcfcfc;

