footer {
  background: $color-black;
  padding: 50px 0 60px;
  overflow: hidden;
  * {
    color: $color-white;
  }
  .container-1428 {
    justify-content: space-between;
    @include MQ(MQ-1200) {
      flex-direction: column;
    }
  }
  .logo-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .logo-section-small {
    width: 80px;
    height: 28px;
    position: relative;
    margin-right: 72px;
    @include MQ(MQ-400) {
      margin-right: 20px;
    }
    img {
      @include img-object-contain;
    }
  }
  .logo-section-big {
    width: 236px;
    height: 56px;
    position: relative;
    img {
      @include img-object-contain;
    }
  }
  .left-section {
    flex: none;
    margin-right: 20px;
  }
  .right-section {
    margin-top: 25px;
    
    @include MQ(MQ-400) {
      flex-direction: column;
    }
    .footer-menu {
      flex-wrap: wrap;
      margin-bottom: 10px;
      @include MQ(MQ-768) {
        
      }
      @include MQ(MQ-400) {
        margin-bottom: 20px;
        margin-right: 0px;
      }
      li {
        margin-right: 55px;
        margin-bottom: 10px;
        @include MQ(MQ-768) {
          margin-right: 30px;
        }
        &:last-child {
          margin-right: 0px;
          @include MQ(MQ-768) {
            margin-bottom: 10px;
          }
        }
        a {
          font-size: 18px;
          font-weight: bold;
          line-height: normal;
          letter-spacing: normal;
        }
      }
    }
    .footer-privacy-menu {
      flex-wrap: wrap;
      margin-bottom: -10px;
      li {
        margin-right: 45px;
       margin-bottom: 10px;
        &:last-child {
          margin-right: 0px;
          @include MQ(MQ-768) {
            margin-right: 30px;
          }
        }
       
        a {
          font-size: 17px;
          font-weight: normal;
          line-height: 1.35;
          letter-spacing: normal;
        }
      }
    }
  }
}