/*
1. Announcement Bar
2. Main Content [main]
3. Header
4. Transparent Header
5. Header Search
*/

/****** Announcement Bar ******/
.announcement-bar {
  background-color: $color-light-black;
  position: relative;
  height: 34px;
  @include MQ(MQ-600) {
    height: 48px;
  }
  .container-1400 {
    justify-content: space-between;
  }
  .close {
    position: absolute;
    color: $color-black;
    right: 20px;
    top: 9px;
    @include MQ(MQ-600) {
      top: 15px;
    }
    svg {
      height: 15px;
      * {
        stroke: $color-black;
        fill: $color-black;
      }
    }
  }
  .slick-slider {
    height: 34px;
    @include MQ(MQ-600) {
      height: 48px;
    }
    .slick-track {
      height: inherit;
    }
  }
  .slick-list {
    padding: 0 !important;
  }
  p {
    text-align: center;
    color: $color-black;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    padding: 9px;
    a {
      color: inherit;
      font: inherit;
      text-decoration: underline;
    }
    @include MQ(MQ-600) {
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 15px;
    }
  }
}

/****** Main Content ******/
// .main-content {
//   padding-top: 91px;
//   @include MQ(MQ-980) {
//     padding-top: 81px;
//   }
// }

/****** Header ******/
header {
  .main-header {
    position: relative;
    top: 0;
    z-index: 9;
  }
  &.fixed {
    .main-header {
      position: fixed;
      transition: 0.3s;
      top: 0 !important;
    }
  }
  /****** Header Logo ******/
  .header-logo {
    width: 150px;
    height: 50px;
    img {
      @include img-object-contain;
      display: none;
      &.logo {
        display: block;
      }
      @include MQ(MQ-980) {
        display: none;
        &.logo {
          display: none;
        }
        &.mobile-logo {
          display: block;
        }
      }
    }
    @include MQ(MQ-980) {
      width: 120px;
      height: 40px;
    }
  }
  /****** Mobile Hamburger ******/
  .mobile-hamburger {
    display: none;
    #hamburger {
      width: 25px;
      height: 25px;
      span,
      svg {
        height: inherit;
        width: inherit;
      }
      .close {
        display: none;
      }
      &.active {
        span {
          display: none;
          &.close {
            display: inline;
            * {
              fill: $color-black;
            }
          }
        }
      }
    }
    @include MQ(MQ-980) {
      display: block;
    }
  }
  @include MQ(MQ-980) {
    .ipad-none {
      display: none;
    }
    .ipad-block {
      display: block;
    }
  }
}
// header .main-menu li.has-big-nav-0 .big-nav {
//   visibility: visible !important;
//   opacity: 1 !important;
// }]

/****** Transparent Header ******/
.template-index,
.inner-hero-page {
  @include MQ(MQ-980) {
    header {
      .main-header {
        background-color: transparent;
        border-bottom: none;
        position: fixed;
      }
      .mobile-hamburger {
        svg {
          * {
            stroke: $color-white;
          }
        }
      }
      .right-nav {
        a {
          svg {
            * {
              stroke: $color-white;
            }
          }
        }
      }
      .header-logo {
        img {
          display: none;
          &.white-logo {
            display: none;
          }
          &.white-mobile-logo {
            display: block;
          }
        }
      }
      &.fixed,
      &.active {
        .mobile-hamburger {
          svg {
            * {
              stroke: $color-black;
            }
          }
          .close {
            svg {
              * {
                stroke: none;
              }
            }
          }
        }
        .main-header {
          background-color: $color-white;
          border-bottom: 1px solid $color-faded-grey;
          .header-logo {
            img {
              display: none;
              &.logo {
                display: none;
              }
              &.mobile-logo {
                display: block;
              }
            }
          }
          .right-nav {
            a {
              svg {
                * {
                  stroke: $color-black;
                }
              }
            }
          }
        }
      }
    }
    &.announcement-visible {
      header {
        .main-header {
          top: 34px;
        }
        &.fixed {
          .main-header {
            top: 0 !important;
          }
        }
      }
    }
  }
  @include MQ(MQ-600) {
    &.announcement-visible {
      header {
        .main-header {
          top: 48px;
        }
        &.fixed {
          .main-header {
            top: 0;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 980px) {
  .template-index,
  .inner-hero-page {
    header {
      .main-menu {
        li {
          a.site-nav__link {
            color: $color-white;
          }
        }
      }
      .right-nav {
        a {
          svg {
            * {
              stroke: $color-white;
            }
          }
        }
      }
      .header-logo {
        img {
          display: none;
          &.white-logo {
            display: block;
          }
          @include MQ(MQ-980) {
            display: none;
            &.white-logo {
              display: none;
            }
            &.white-mobile-logo {
              display: block;
            }
          }
        }
      }
      .main-header {
        background-color: transparent;
        border-bottom: none;
        position: fixed;
        &:hover {
          background-color: $color-white;
          border-bottom: 1px solid $color-faded-grey;
          .header-logo {
            img {
              display: none;
              &.logo {
                display: block;
              }
            }
          }
          .main-menu {
            li {
              a.site-nav__link {
                color: $color-black;
              }
            }
          }
          .right-nav {
            a {
              svg {
                * {
                  stroke: $color-black;
                }
              }
            }
          }
        }
      }
      &.fixed,
      &.active {
        .main-header {
          background-color: $color-white;
          border-bottom: 1px solid $color-faded-grey;
          .header-logo {
            img {
              display: none;
              &.logo {
                display: block;
              }
              @include MQ(MQ-980) {
                display: none;
                &.logo {
                  display: none;
                }
                &.mobile-logo {
                  display: block;
                }
              }
            }
          }
          .main-menu {
            li {
              a.site-nav__link {
                color: $color-black;
              }
            }
          }
          .right-nav {
            a {
              svg {
                * {
                  stroke: $color-black;
                }
              }
            }
          }
        }
      }
    }
    &.announcement-visible {
      header {
        .main-header {
          top: 34px;
        }
        &.fixed {
          .main-header {
            top: 0 !important;
          }
        }
      }
    }
  }
}

/****** Header Search ******/
.header-search {
  display: none;
  padding: 40px 0;
  border: solid 1px $color-faded-grey;
  background-color: $color-white;
  &.active {
    display: block;
  }
  form {
    max-width: 660px;
    border: solid 1px $color-faded-grey;
    margin: 0 auto;
    padding: 10px 0 10px 20px;
    .search {
      opacity: 1 !important;
      font-family: $font-family-primary;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.71;
      letter-spacing: normal;
      color: $color-black;
      padding: 0 15px;
      border: none;
      -webkit-appearance: none;
      width: calc(100% - 25px - 128px);
      border-right: 1px solid $color-faded-grey;
      &::placeholder {
        opacity: 0.5 !important;
        font-family: $font-family-primary;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.71;
        letter-spacing: normal;
        color: $color-black;
      }
    }
    .submit {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      border: none;
      background: transparent;
      padding: 0 19.5px 0 20px;
      cursor: pointer;
      font-family: $font-family-primary;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 2px;
      text-align: right;
      color: $color-green;
    }
  }
  @include MQ(MQ-980) {
    padding: 20px 0;
    border: none;
    form {
      padding: 11px 20px 11px 20px;
      .search {
        width: calc(100% - 25px);
        border: none;
        padding-right: 0;
      }
    }
  }
}
