header {
  position: fixed;
  padding-top: 35px;
  padding-bottom: 10px;
  top: 77px;
  left: 0;
  right: 0;
  z-index: 10;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  padding-right: 110px;
  transition: 0.35s ease-out;
  background: $color-light-black;
  &.fixed{
    background: $color-light-black !important;
  }
  @include MQ(MQ-980) {
    padding-right: 80px;
    padding-top: 10px;
  }
  .container-1805 {
    justify-content: space-between;
  }
  .top-section {
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .logo-section-outer{
    span{
      display: block;
      margin-top: 5px;
      color:$color-faded-grey;
      font-size: 16px;
      font-weight: 300;
      line-height: normal;
      @include MQ(MQ-600) {
        font-size: 15px;
      }
    }
  }
  .logo-section {
    width: 687px;
    height: 59px;
    flex: none;
    position: relative;
   
    img {
      @include img-object-contain
    }
    margin-right: 20px;
    @include MQ(MQ-1200) {
      width: 600px;
      height: 50px;
    }
    @include MQ(MQ-980) {
      width: 180px;
      height: 56px;
    }
    @include MQ(MQ-400) {
      width: 140px;
      height: 46px;
    }
  }
  .mobile-hamburger {
    width: 50px;
    display: none;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 30px;
    transition: none;
    &:hover {
      filter: brightness(0) saturate(100%) invert(82%) sepia(99%) saturate(1913%) hue-rotate(313deg) brightness(99%) contrast(104%);
    }
    @include MQ(MQ-980) {
      display: block;
    }
    @include MQ(MQ-400) {
      top: 10px;
    }
    background: url(../images/icon-hamburger.png) no-repeat center / 50px;
  }
  .mobile-close {
    width: 37px;
    height: 29px;
    position: absolute;
    top: 20px;
    filter: brightness(0) invert(1);
    right: 30px;
    background: url(../images/icon-cross.png) no-repeat center / 37px;
  }
  .search-block-form {
    width: 222px;
    position: relative;
    .form-wrapper {
      position: initial !important;
    }
    @include MQ(MQ-980) {
      display: none;
    }
    div {
      width: 100%;
    }
    form {
      width: 100%;
    }
    input[type="search"] {
      width: 100%;
      max-width: 222px;
      padding: 5.5px 40px 6px 15px !important;
      border-radius: 16.5px !important;
      border: none;
      box-sizing: border-box;
      font-family: $font-family-primary;
      font-size: 16px;
      font-weight: 600;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: $color-light-black;
      &::placeholder {
        color: #b5b5b5;
        opacity: 1;
      }
    }
    input[type="submit"] {
      position: absolute;
      top: 6px !important;
      bottom: auto !important;
      right: 16px;
      width: 22px;
      height: 22px;
      font-size: 0px;
      border: none;
      background: url(../images/Icon-search.png) no-repeat center / 22px;
    }
    &:hover{
      input[type="search"] {
        &::placeholder {
        color: $color-light-black;
        }

      }
      input[type="submit"] {
        filter: brightness(0) saturate(100%) invert(29%) sepia(37%) saturate(0%) hue-rotate(335deg) brightness(73%) contrast(97%);
      }

    }
  }
  .menu-section {
    width: 100%;
    display: flex;
    margin-top: 11px;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 78px;
    position: relative;
    .report-issue {
      display: none;
    }
    .search-block-form {
      display: none;
      @include MQ(MQ-980) {
        display: block;
      }
    }
    @include MQ(MQ-980) {
      display: block;
      position: fixed;
      overflow: auto;
      height: 100%;
      width: 100%;
      transform: translateX(100vw);
      overflow-y: auto;
      background: url(../images/submenu-bg.png) no-repeat center/cover;
      top: -4px;
      left: 0;
      margin: 0;
      z-index: 12;
      padding: 20px 30px 60px;
      padding-right: 100px;
      @include MQ(MQ-480) {
        padding-right: 60px;
      }
      &.active {
        transition: 0.3s;
        transform: translateX(0);
      }
      &.inactive {
        transition: 0.3s;
        transform: translateX(100vw);
      }
      .report-issue {
        display: block;
      }
    }
    .mobile-close {
      display: none;
      transition: none;
      &:hover {
        filter: brightness(0) saturate(100%) invert(82%) sepia(99%) saturate(1913%) hue-rotate(313deg) brightness(99%) contrast(104%);
      }
      @include MQ(MQ-980) {
        display: block;
      }
    }
    .nav {
      padding-top: 13px;
      position: relative;
      display: flex;
      @include MQ(MQ-980) {
        flex-direction: column;
        padding-top: 40px;
      }
      &::before {
        left: 0;
        width: calc(100% + 300px);
        height: 2px;
        background: $color-white;
        top: 0;
        content: '';
        position: absolute;
        @include MQ(MQ-980) {
          display: none;
        }
      }
      .sub-menu-wrapper {
        display: none;
        position: absolute;

       
        width: 927px;
        right: -78px;
        margin-top: 10px;
        background: url(../images/submenu-bg.png) no-repeat center/cover;
        padding: 60px 64px;
        @include MQ(MQ-1200) {
          width: 850px;
          padding: 40px;
        }
        @include MQ(MQ-980) {
          background: none;
          width: auto;
          position: relative;
          right: 0;
          padding: 0px;
          margin-top: 20px;
          margin-left: 20px;
        }
        h4 {
          font-size: 20px;
          font-weight: bold;
          position: relative;
          padding-top: 10px;
          margin-bottom: 22px;
          &::before {
            width: 40px;
            height: 4px;
            content: '';
            left: 0;
            top: 0;
            position: absolute;
            background: $color-yellow;
          }
          line-height: normal;
          letter-spacing: normal;
          color: $color-yellow;
          @include MQ(MQ-980) {
            display: none;
          }
        }
        * {
          color: $color-white;
        }
        a {
          font-size: 15px;
          font-weight: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: $color-faded-grey;
          display: inline-block;
          &:hover {
            color: $color-yellow;
          }
        }
        ul {
          width: 100%;
         // min-height: 310px;
          float: none;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          gap: 40px;
          grid-auto-rows: minmax(20px, auto);
          box-sizing: border-box;
          @include MQ(MQ-980) {
            min-height: auto;
            display: block;
            li {
              margin-bottom: 20px;
              &:last-child {
                margin-bottom: 0px;
              }
            }
          }
        }
      }
      >li {
        margin-right: 60px;
        padding-bottom: 10px;
        @include MQ(MQ-980) {
          margin-right: 0px;
          padding-bottom: 20px;
        }
        &:last-child {
          margin-right: 0;
        }
        .menu-wrapper {
          >a {
            font-family: $font-family-primary;
            font-size: 17px;
            font-weight: bold;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: $color-white;
            @include MQ(MQ-980) {
              min-width: 240px;
              display: inline-block;
            }
            &:hover {
              color: $color-yellow;
            }
            @include MQ(MQ-980) {
              font-size: 20px;
              color: $color-yellow;
            }
          }
        }
        &.has-sub {
          &.active {
           
            .menu-wrapper {
              >a {
                color: $color-yellow;
                position: relative;
                
                &::before {
                  width: 51px;
                  height: 11px;
                  position: absolute;
                  left: 0;
                  right: 0;
                  margin: 0 auto;
                  bottom: -12px;
                  content: '';
                  background: url(../images/icon-polygon.png) no-repeat center / 51px;
                }
              }
            }
          }
          .menu-wrapper {
            >a {
              padding-right: 15px;
              position: relative;
              &::after {
                position: absolute;
                right: 0;
                width: 10px;
                content: '+';
              }
              @include MQ(MQ-980) {
                &.active{
                  &::after {
                    content: '-';
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 981px) {
  header {
    .menu-section {
      transition: 0s;
      transform: translateX(0);
    }
  }
  header {
    .menu-section {
      .nav {
        >li {
          .menu-wrapper {
            >a {
              &:hover {
                color: $color-yellow;
              }
            }
          }
          &.has-sub {
            .sub-menu-wrapper {
              display: none !important;
            }
            &.active {
              .sub-menu-wrapper {
                display: block !important;
              }
              .menu-wrapper {
                >a {
                  &::after {
                    width: 10px;
                    content: '-';
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
/*Notification*/
.top-alert-notification {
  max-width: 1920px;
  position: fixed;
  width: 100%;
  &.fixed{
    padding-right: 0 !important;
  }
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: 0.35s ease-out;
  &.alert-hide {
    transform: translate(0, -100%);
  }
  margin: 0 auto;
  @include MQ(MQ-980) {
    padding-right: 0 !important;
  }
  .inner {
    padding: 10px 0;
    display: flex;
    align-items: center;
    position: relative;
    min-height: 77px;
    background: $color-dark-orange;
    p {
      font-size: 19px;
      padding-left: 69px;
      padding-right: 30px;
      line-height: normal;
      color: $color-white;
      background: url(../images/icon-alert-triangle.png) no-repeat center left / 30px;
      @include MQ(MQ-600) {
        background-size: 20px !important;
        padding-left: 35px;
        padding-right: 20px;
      }
      @include MQ(MQ-768) {
        font-size: 16px;
      }
      @include MQ(MQ-600) {
        font-size: 14px;
      }
    }
    .close {
      width: 21px;
      height: 21px;
      position: absolute;
      top: 32px;
      right: 30px;
      display: block;
      background: url(../images/icon-cross-small.png) no-repeat center / 21px;
      @include MQ(MQ-600) {
        width: 16px;
        height: 16px;
        background-size: 16px !important;
      }
    }
  }
}
