header {
  position: fixed;
  padding-top: 35px;
  top: 0;
  left: 0;
  z-index: 3;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  padding-right: 110px;
  .container-1805 {
    justify-content: space-between;
  }
  .logo-section {
    width: 687px;
    height: 59px;
    flex: none;
    position: relative;
    img {
      @include img-object-contain
    }
  }
  .menu-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 812px;
    .nav {
      padding-top: 13px;
      position: relative;
      display: flex;
      &::before {
        left: 0;
        width: calc(100% + 300px);
        height: 2px;
        background: $color-white;
        top: 0;
        content: '';
        position: absolute;
      }
      .sub-menu-wrapper {
        display: none;
      }
      >li {
         margin-right: 60px;
          &:last-child{
            margin-right: 0;
          }
        .menu-wrapper {
          
          >a {
            font-family: $font-family-primary;
            font-size: 17px;
            font-weight: bold;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: $color-white;
            
          }
        }
        &.has-sub{
          .menu-wrapper {
            >a{
          &::after{
            content: '+';
            
          }
        }
      }
        }
      }
    }
    .search-block-form {
      width: 222px;
      position: relative;
      margin-bottom: 27px;
      div {
        width: 100%;
      }
      form {
        width: 100%;
      }
      input[type="search"] {
        width: 100%;
        max-width: 222px;
        padding: 5.5px 40px 6px 15px;
        border-radius: 16.5px;
        border: none;
        box-sizing: border-box;
        font-family: $font-family-primary;
        font-size: 16px;
        font-weight: 600;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #b5b5b5;
        &::placeholder {
          color: #b5b5b5;
          opacity: 1;
        }
      }
      input[type="submit"] {
        position: absolute;
        top: 6px;
        right: 16px;
        width: 22px;
        height: 22px;
        font-size: 0px;
      }
    }
  }
}
