.faq-accordian {
  padding: 140px 0 0;

  @include MQ(MQ-768) {
    padding: 80px 0px 0;
  }

  h2 {
    text-align: center;
    color: $color-blue2;
    margin-bottom: 32px;
  }

  .container-885 {
    >ul {
      >li {
        margin-bottom: 2px;

        h6 {
          cursor: pointer;
          padding: 24px 65px 24px 32px;

          @include MQ(MQ-480) {
            padding: 24px 65px 24px 20px;
          }

          color: $color-white;
          background: url(../images/Icon-plus-white.png) no-repeat top 24px right 35px / 24px $color-blue2;
        }

        &.active {
          margin-bottom: 0px;

          h6 {
            padding: 24px 65px 14px 32px;
            color: $color-blue2;
            background: url(../images/Icon-minus-blue.png) no-repeat top 34px right 35px / 24px $color-white;
          }
        }

        .content {
          background-color: rgba(0, 83, 153, 0.05);
          display: none;
          padding: 28px 75px 28px 66px;

          @include MQ(MQ-480) {
            padding: 20px;
          }

          border-top: 4px solid $color-blue2;
          border-bottom: 4px solid $color-blue2;

          * {
            font-size: 19px;
            line-height: normal;
            letter-spacing: normal;
            color: $color-blue2;

            @include MQ(MQ-480) {
              font-size: 16px;
            }
          }

          ul {
            margin-top: 9px;

            li {
              font-size: 19px;
              line-height: 1.68;
              letter-spacing: normal;
              list-style: none;
              padding-left: 24px;
              position: relative;

              @include MQ(MQ-480) {
                font-size: 16px;
              }

              &::before {
                width: 8px;
                height: 8px;
                content: "";
                background: $color-blue2;
                position: absolute;
                left: 0px;
                top: 10px;
                border-radius: 50%;
              }
            }
          }
        }

        &.active {
          .content {
            display: block;
          }
        }
      }
    }
  }
}