.five-column-list-content-with-heading {
  padding: 130px 0 80px;
  position: relative;
  &::before{
    height: 554px;
    width: 100%;
    background: url(../images/bg-graphic.png) no-repeat top left / cover;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -66px;
    z-index: 1;
    max-width: 1920px;
  }

  @include MQ(MQ-768) {
    padding: 60px 0;
  }
  .container-1920 {
    padding-right: 110px;
    @include container-1920-padding-110;
    position: relative;
    z-index: 5;
  }
  .list-block-outer {
    margin-top: 60px;
  }
  ul {
    width: 100%;
    max-width: 1850px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px 73px;
    grid-auto-rows: minmax(70px, auto);
    @include MQ(MQ-1280) {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px 50px;
    }
    @include MQ(MQ-768) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 40px;
    }
    @include MQ(MQ-480) {
      grid-template-columns: repeat(1, 1fr);
      gap: 0;
      grid-auto-rows: minmax(90px, auto);
    }
    .views-element-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px 73px;
      grid-auto-rows: minmax(100px, auto);
      @include MQ(MQ-1280) {
        gap: 50px;
      }
      @include MQ(MQ-768) {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
      }
    }
    li {
      // margin-left: 73px;
      padding: 11px 0 0;
      border-top: 4px solid $color-dark-blue;
      &:hover{
        background: $color-yellow;
      }
     a{
      font-size: 17px;
      font-weight: bold;
      line-height: normal;
      letter-spacing: normal;
      color: $color-blue2;
      display: block;
      &:hover{
       
        text-decoration: underline;
      }
     }
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}