.fourZeroFour{
    text-align: center;
    @include MQ(MQ-480) {
      padding-top: 50px;
    }
    h1{
        color: $color-blue2;
        text-align: center;
    }
    p{
        margin-top: 20px;
    }
    .btn--primary{
        margin-top: 30px;
        &:hover{
          background: $color-dark-blue!important;
       
        color: $color-white !important;
          &::before{
            
            border: 2px solid $color-dark-blue !important;
            
          }
        }
    }
}
