.four-column-content-list {
  padding: 140px 0 0;

  @include MQ(MQ-768) {
    padding: 80px 0px 0;
  }

  h2 {
    text-align: center;
    color: $color-blue2;
    width: 100%;
    max-width: 486px;
    margin: 0 auto;
  }

  .block-outer {
    margin-top: 67px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 40px;
    @include MQ(MQ-480) {
      margin-top: 40px;
    }

    .block {
      width: calc(25% - 111px);
      margin-right: 148px;
      position: relative;

      @include MQ(MQ-1200) {
        width: calc(25% - 60px);
        margin-right: 80px;
      }

      @include MQ(MQ-980) {
        width: calc(50% - 40px);
        margin-bottom: 60px;
        
        &:nth-child(even) {
          margin-right: 0px !important;

          &::before {
            display: none !important;
          }
        }
      }

      @include MQ(MQ-768) {
        width: 100%;
        margin-right: 0px !important;
        padding-bottom: 30px;
        margin-bottom: 30px;
        &::before {
          display: block !important;
          width: 100% !important;
          height: 1px !important;
          right: 0 !important;
          bottom: 0 !important;
          top: auto !important;
        }

        &:nth-child(even)::before {
          display: block !important;
        }

        &:last-child {
          padding-bottom: 0px;

          &::before {
            display: none !important;
          }
        }
      }

      &::before {
        content: '';
        background: $color-light-black;
        height: 100%;
        width: 1px;
        right: -74px;
        position: absolute;
        top: 0;

        @include MQ(MQ-1200) {
          right: -40px;
        }
      }

      &:last-child {
        &::before {
          display: none;
        }

        margin-right: 0px;
      }

      h5 {
        color: $color-orange;
        margin-bottom: 17px;
      }

      ul {
        li {
          font-size: 19px;
          line-height: 1.68;
          letter-spacing: normal;
          list-style: none;
          padding-left: 24px;
          position: relative;

          @include MQ(MQ-480) {
            font-size: 16px;
          }

          &::before {
            width: 8px;
            height: 8px;
            content: "";
            background: $color-orange;
            position: absolute;
            left: 0px;
            top: 10px;
            border-radius: 50%;
          }
        }
      }
    }
    @include MQ(MQ-980) {
    padding: 0;
    }
  }
}