

.hero-banner-slider {
  padding-right: 110px;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;

  .slider {
    overflow: hidden;
    max-height: 1023px !important;
    height: 80vh;
    min-height: 800px !important;
    @include MQ(MQ-980) {
      min-height: 700px !important;
    }
  }

  @include MQ(MQ-980) {
    padding-right: 0px;
  }

  .swiper-button-prev-hero-banner,
  .swiper-button-next-hero-banner {
    width: 55.5px;
    height: 100px;
    background: $color-lignt-blue;
    background: url(../images/Icon-arrow-down.png) no-repeat center top 27px / 23.5px $color-lignt-blue;

    &::after {
      display: none;
    }

    &:hover{
      background-color: $color-light-black !important;
    }
    right: 55px !important;
    top: 400px !important;
    left: auto !important;
    border-bottom-right-radius: 50px;

    @include MQ(MQ-980) {
      display: none;
    }
  }

  .swiper-button-prev-hero-banner {
    top: 300px !important;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0px;
    background: url(../images/Icon-arrow-up.png) no-repeat center top 44px / 23.5px $color-lignt-blue;
  }

  .swiper-pagination {
    right: 73px !important;
    left: auto !important;
    top: auto !important;
    display: flex;
    width: 11px !important;
    flex-direction: column;
    bottom: 0 !important;
    transform: none !important;

    @include MQ(MQ-980) {
      bottom: 90px !important;
    }

    .swiper-pagination-bullet {
      width: 11px !important;
      height: 11px !important;
      border-radius: 0px !important;
      margin: 0 0 20px !important;
      background: $color-blue !important;

      &:last-child {
        margin: 0px !important;
      }

      @include MQ(MQ-980) {
        background: $color-white !important;
        opacity: 1;
      }

      &.swiper-pagination-bullet-active {
        opacity: 1;
        @include MQ(MQ-980) {
          background: $color-yellow !important;
         
        }
       
      }
    }

    @include MQ(MQ-980) {
      right: 20px !important;
    }
  }

  .slide {
    max-height: 1023px !important;
    height: 80vh;
    min-height: 800px !important;
    @include MQ(MQ-980) {
      min-height: 700px !important;
    }
   

    .container-1920 {
      display: flex;
      justify-content: center;
      height: 100%;
      align-items: flex-end;
      position: relative;
      padding: 90px;

      @include MQ(MQ-768) {
        padding: 40px 40px 90px;
      }
    }

    .image-section {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;

      img {
        @include img-object-cover
      }

      &::before {
        content: '';
        background-color: rgba(30, 30, 30, 0.56);
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        position: absolute;
        z-index: 2;
      }
    }

    .content {
      position: relative;
      z-index: 4;
      max-width: 873px;
      width: 100%;
      padding: 49px 109px 31px 77px;
      background: url(../images/Icon-exclamation-triangle.png) no-repeat top 42px left 33px / 88px rgba(0, 82, 153, .91);
      ;

      @include MQ(MQ-768) {
        padding: 40px 30px;
      }

      * {
        color: $color-white;
      }

      span {
        font-size: 18px;
        font-weight: bold;
        line-height: normal;
        letter-spacing: normal;
        display: block;
        margin-bottom: 4px;
      }

      h2 {
        margin-bottom: 14px;
      }

      .btn--primary {
        margin-top: 47px;
      }
    }
  }
}