.three-column-pdf-list {
  padding: 140px 0 0;

  // margin-bottom: -111px;
  @include MQ(MQ-768) {
    padding: 80px 0px 0;
  }


  h2 {
    text-align: center;
    color: $color-blue2;
    width: 100%;
    max-width: 486px;
    margin: 0 auto;
  }

  ul {
    margin-top: 67px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    padding: 0 40px;
    @include MQ(MQ-1200) {
      gap: 80px;
    }

    @include MQ(MQ-980) {
      gap: 60px;
      grid-template-columns: repeat(2, 1fr);
      padding: 0;
    }

    @include MQ(MQ-480) {
      gap: 60px;
      grid-template-columns: repeat(1, 1fr);
    }

    li {
      span {
        background-image: none;
      }

      @include MQ(MQ-600) {
        a {
          font-size: 18px !important;
        }
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      a {
        max-width: 375px;
        background: url(../images/icon-pdf.png) no-repeat top left / 54px;
        padding-left: 78px;
        padding-top: 6px;
        font-size: 19px;
        display: block;
        line-height: normal;
        letter-spacing: normal;
        color: $color-blue2;
        min-height: 63px;
        &:hover{
        
          text-decoration: underline;
        }

        @include MQ(MQ-600) {
          max-width: 100%;
        }
      }
    }
  }
}