.two-column-image-and-one-content-section {
  padding: 88px 0 80px;
  position: relative;
&::before{
  height: 555px;
  width: 100%;
  background: url(../images/vector-graphics.png) no-repeat top right / cover;
  position: absolute;
  content: '';
  right: 0;
  top: -310px;
  
}
  @include MQ(MQ-768) {
    padding: 60px 0;
  }

  &::after {
    width: 100%;
    height: 556px;
    position: absolute;
    top: -300px;
    right: 0;
    content: '';
    background: url(../images/bg-graphic-top.png) no-repeat center / cover;
  }

  .container-1920 {
    padding: 0px;
  }

  ul {
    width: 62.50%;
    position: relative;
    z-index: 2;

    @include MQ(MQ-980) {
      width: 100%;
      order: 2;
      padding: 0 60px;
      margin-top: 30px;
    }
    @include MQ(MQ-768) {
      padding: 0 30px;
    }

    li {
      width: 50%;
      height: 31.25vw;
      max-height: 594px;
      display: flex;
      align-items: flex-end;
      position: relative;
      padding: 25px 78px 25px 70px;

      @include MQ(MQ-1024) {
        height: 50vw !important;
        padding: 25px 40px 25px;
      }

      @include MQ(MQ-768) {
        width: 100%;
        height: 100vw !important;
        margin-bottom: 30px;
        padding: 30px;

        &:last-child {
          margin-bottom: 0px;
        }

       
      }

      &:last-child {
        height: calc(31.25vw + 48px);
        max-height: 648px;

      }

      .image-section {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;

        img {
          @include img-object-cover;
        }



        &::before {
          width: 100%;
          top: 0;
          content: '';
          left: 0;
          z-index: 2;
          position: absolute;
          height: 100%;
          background-image: linear-gradient(to bottom, rgba(30, 30, 30, 0), #414042);
        }
      }

      .content {
        position: relative;
        padding-bottom: 24px;
        z-index: 3;
        border-bottom: 2px solid $color-white;

        * {
          color: $color-white;
          
        }

        h6 {
          line-height: 1.21;
          letter-spacing: normal;
          
        }

        &:hover{
          *{
            color: $color-yellow;
          }
        }

      }

      &::before {
        width: 196px;
        height: 12px;
        content: '';
        position: absolute;
        right: 0;
        top: -12px;
        background-color: $color-blue2;
      }
    }
  }

  .content-section {
    width: 37.50%;
    padding: 90px 84px 102px;
    position: relative;
    font-family: $font-family-primary;
    font-size: 19px;
    font-weight: normal;
    line-height: 1.21;
    letter-spacing: normal;

    @include MQ(MQ-1200) {
      padding: 70px 50px 80px;
    }

    @include MQ(MQ-980) {
      width: 100%;
      background: $color-blue2;
    }

    @include MQ(MQ-600) {
      padding: 40px;
    }

    * {
      color: $color-white;
    }

    &::before {
      height: calc(100% + 8px);
      width: calc(100% + 135px);
      position: absolute;
      content: '';
      top: -57px;
      left: -135px;
      z-index: 1;
      clip-path: polygon(0 0, 100% 18%, 100% 81%, 15% 100%);
      background: $color-blue2;
      @include MQ(MQ-980) {
       display: none;
      }
 
    }

    .content {
      z-index: 3;
      padding: 40px 30px 72px 0;
      position: relative;
      @include MQ(MQ-980) {
        padding: 40px 0px 72px 0;
      }
      @include MQ(MQ-600) {
        padding: 30px 0;
      }
      h6 {
        font-size: 19px;
        margin-bottom: 3px;
      }

      h2 {
        margin-bottom: 18px;
      }

      .btn--primary {
        margin-top: 51px;
      }

      &::before,
      &::after {
        height: 2px;
        width: 28px;
        position: absolute;
        content: '';
        left: 0px;
        top: 0;
        background: $color-white;
      }

      &::after {
        top: auto;
        bottom: 0;
      }
    }
  }
}