{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
	<div{{attributes.addClass(classes)}}>
		{% block content %}
			<div class="hero-banner-slider">
				<div class="slider js__hero-banner-slider">
					<div class="swiper-wrapper">
						{{content.field_slider_home_para}}
					</div>
				</div>
				<div class="swiper-button-prev swiper-button-prev-hero-banner"></div>
				<div class="swiper-button-next swiper-button-next-hero-banner"></div>
				<div class="swiper-pagination hero-swiper-pagination"></div>
			</div>
		{% endblock %}
	</div>
{% endblock paragraph %}
