{{content.field_para}}

{{ drupal_view('block_document_media', 'block_1',node.id) }}

{# 
<div class="three-column-pdf-list">
	<div class="container-1680">
		{{content.field_term}}
		<ul>
			{{content.field_document_library_media}}
		</ul>
	</div>
</div> #}

<style>
.generic{
  margin-top: 50px;
}
</style>