<div class="wrapper">
	<div class="full-width-content full-format">
		<div class="container-825">
			<h2>H2 incididunt ut labore et dolore magna aliqua. Ut enim ad minim incutlab dolor be soloretmente color
				                penne</h2>
			<h3>H3 incididunt ut labore et dolore magna aliqua.
			</h3>
			<p>Paragraph incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
				                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
				                    reprehenderit in voluptate velit esse this is a text link here eu fugiat nulla pariatur. Excepteur
				                    sint occaecat cupidatat non proident, sunt in culpa qui</p>
			<h4>H4 incididunt ut labore et dolore magna aliqua.
			</h4>
			<p>Paragraph incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
				                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
				                    reprehenderit in voluptate velit esse this is a text link here eu fugiat nulla pariatur. Excepteur
				                    sint occaecat cupidatat non proident, sunt in culpa qui</p>
			<h5>H5 incididunt ut labore et dolore magna aliqua.
			</h5>
			<p>Paragraph incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
				                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
				                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
				                    occaecat cupidatat non proident, sunt in culpa qui Paragraph incididunt ut labore et dolore magna
				                    aliqua.<br/><br/>
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
				                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui</p>
			<h6>Heading 6 Here</h6>
			<ul>
				<li>Paragraph incididunt ut labore</li>
				<li>Et dolore magna.
				</li>
				<li>Ut enim ad minim veniam,
				</li>
				<li>Quis nostrud exercitation</li>
			</ul>
			<ol>
				<li>Paragraph incididunt ut labore</li>
				<li>Et dolore magna.
				</li>
				<li>Ut enim ad minim veniam,
				</li>
				<li>Quis nostrud exercitation</li>
			</ol>
		</div>
	</div>
	<div class="half-content-half-image ">
		<div class="container-825">
			<div class="outer">
				<div class="content full-format">
					<h2>H2 Sectional Title</h2>
					<p>
						Paragraph incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.
						<br/><br/>
						Paragraph incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						<br/><br/>
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui. Paragraph incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
					</p>
				</div>
				<div class="image-section">
					<img src="/{{ directory }}/images/dummy-image.jpg"/>
					<div class="caption">
						Floated image caption
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="full-width-content full-format no-padding">
		<div class="container-825">
			<p>
				incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.
			</p>
			<hr>
		</div>
	</div>
	<div class="half-content-half-image  left-image">
		<div class="container-825">
			<div class="outer">
				<div class="content full-format">
					<h2>H2 Sectional Title</h2>
					<p>
						Paragraph incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.
						<br/><br/>
						Paragraph incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						<br/><br/>
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui. Paragraph incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
					</p>
				</div>
				<div class="image-section">
					<img src="/{{ directory }}/images/dummy-image.jpg"/>
					<div class="caption">
						Floated image caption
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="full-width-content full-format no-padding">
		<div class="container-825">
			<p>
				incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
			</p>
			<blockquote>
				Blockquote in main text row here incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
			</blockquote>
			<p>
				Paragraph incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.
				<br/><br/>
				Paragraph incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
			</p>
			<a class="link--primary">View page</a>
			<a class="btn--secondary">Learn more</a>
			<hr>
		</div>
	</div>
	<div class="full-width-image">
		<div class="container-1290">
			<div class="image-section">
				<img src="/{{ directory }}/images/dummy-image.jpg"/>
				<div class="caption">
					Floated image caption
				</div>
			</div>
		</div>
	</div>
	<div class="full-width-content full-format">
		<div class="container-825">
			<p>
				Paragraph incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui. Paragraph incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui. Paragraph incididunt ut labore et dolore magna aliqua.
			</p>
		</div>
	</div>
	<div class="four-column-content-list">
		<div class="container-1620">
			<h2 class="h2-34">Section for resources</h2>
			<div class="block-outer">
				<div class="block">
					<h5>Blood/Body Fluid Exposure Hotline:</h5>
					<ul>
						<li>Paragraph incididunt ut labore</li>
						<li>Et dolore magna.
						</li>
						<li>Ut enim ad minim veniam,
						</li>
						<li>Quis nostrud exercitation</li>
					</ul>
				</div>
				<div class="block">
					<h5>Standards / Regulations:</h5>
					<ul>
						<li>Paragraph incididunt ut labore</li>
						<li>Et dolore magna.
						</li>
						<li>Ut enim ad minim veniam,
						</li>
						<li>Quis nostrud exercitation</li>
					</ul>
				</div>
				<div class="block">
					<h5>Guidelines:</h5>
					<ul>
						<li>Paragraph incididunt ut labore</li>
						<li>Et dolore magna.
						</li>
						<li>Ut enim ad minim veniam,
						</li>
						<li>Quis nostrud exercitation</li>
					</ul>
				</div>
				<div class="block">
					<h5>Other Resources:</h5>
					<ul>
						<li>Paragraph incididunt ut labore</li>
						<li>Et dolore magna.
						</li>
						<li>Ut enim ad minim veniam,
						</li>
						<li>Quis nostrud exercitation</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="three-column-pdf-list">
		<div class="container-1620">
			<h2 class="h2-34">Section for tagged repository
				                docs w/ hyperlinked doc title</h2>
			<ul>
				<li><a>Document name That can be quite long but still fit in 4 col.</a></li>
				<li><a>Document name That can be quite long but still fit in 4 col.</a></li>
				<li><a>Document name That can be quite long but still fit in 4 col.</a></li>
				<li><a>Document name That can be quite long but still fit in 4 col.</a></li>
				<li><a>Document name That can be quite long but still fit in 4 col.</a></li>
				<li><a>Document name That can be quite long but still fit in 4 col.</a></li>
				<li><a>Document name That can be quite long but still fit in 4 col.</a></li>
				<li><a>Document name That can be quite long but still fit in 4 col.</a></li>
				<li><a>Document name That can be quite long but still fit in 4 col.</a></li>
			</ul>
		</div>
	</div>
	<div class="faq-accordian">
		<div class="container-825">
			<h2 class="h2-34">FAQs Accordion</h2>
			<ul class="js__accordian">
				<li class="active">
					<h6>Accordion Heading Here</h6>
					<div class="content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
							                            laboris nisi ut aliquip ex ea commodo consequat.
						</p>
						<ul>
							<li>
								Paragraph incididunt ut labore et dolore magna aliqua.
							</li>
							<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco
							</li>
							<li>laboris nisi ut aliquip ex ea commodo consequat.
							</li>
							<li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
							</li>
						</ul>
					</div>
				</li>
				<li>
					<h6>Accordion Heading Here</h6>
					<div class="content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
							                            laboris nisi ut aliquip ex ea commodo consequat.
						</p>
						<ul>
							<li>
								Paragraph incididunt ut labore et dolore magna aliqua.
							</li>
							<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco
							</li>
							<li>laboris nisi ut aliquip ex ea commodo consequat.
							</li>
							<li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
							</li>
						</ul>
					</div>
				</li>
				<li>
					<h6>Accordion Heading Here</h6>
					<div class="content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
							                            laboris nisi ut aliquip ex ea commodo consequat.
						</p>
						<ul>
							<li>
								Paragraph incididunt ut labore et dolore magna aliqua.
							</li>
							<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco
							</li>
							<li>laboris nisi ut aliquip ex ea commodo consequat.
							</li>
							<li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
