
  {{content}}




    

	

	<div class="three-column-pdf-list">
		<div class="container-1680">
			<h2 class="h2-34">Section for tagged repository
				                docs w/ hyperlinked doc title</h2>
			<ul>
				<li><a>Document name That can be quite long but still fit in 4 col.</a></li>
				<li><a>Document name That can be quite long but still fit in 4 col.</a></li>
				<li><a>Document name That can be quite long but still fit in 4 col.</a></li>
				<li><a>Document name That can be quite long but still fit in 4 col.</a></li>
				<li><a>Document name That can be quite long but still fit in 4 col.</a></li>
				<li><a>Document name That can be quite long but still fit in 4 col.</a></li>
				<li><a>Document name That can be quite long but still fit in 4 col.</a></li>
				<li><a>Document name That can be quite long but still fit in 4 col.</a></li>
				<li><a>Document name That can be quite long but still fit in 4 col.</a></li>
			</ul>
		</div>
	</div>
	<div class="faq-accordian">
		<div class="container-885">
			<h2 class="h2-34">FAQs Accordion</h2>
			<ul class="js__accordian">
				<li class="active">
					<h6>Accordion Heading Here</h6>
					<div class="content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
							                            laboris nisi ut aliquip ex ea commodo consequat.
						</p>
						<ul>
							<li>
								Paragraph incididunt ut labore et dolore magna aliqua.
							</li>
							<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco
							</li>
							<li>laboris nisi ut aliquip ex ea commodo consequat.
							</li>
							<li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
							</li>
						</ul>
					</div>
				</li>
				<li>
					<h6>Accordion Heading Here</h6>
					<div class="content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
							                            laboris nisi ut aliquip ex ea commodo consequat.
						</p>
						<ul>
							<li>
								Paragraph incididunt ut labore et dolore magna aliqua.
							</li>
							<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco
							</li>
							<li>laboris nisi ut aliquip ex ea commodo consequat.
							</li>
							<li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
							</li>
						</ul>
					</div>
				</li>
				<li>
					<h6>Accordion Heading Here</h6>
					<div class="content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
							                            laboris nisi ut aliquip ex ea commodo consequat.
						</p>
						<ul>
							<li>
								Paragraph incididunt ut labore et dolore magna aliqua.
							</li>
							<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco
							</li>
							<li>laboris nisi ut aliquip ex ea commodo consequat.
							</li>
							<li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
