<div class="hide">
    <div class=" full-format">
        <h2 class="h2-big">Willamette Valley Pies</h2>
        <h1>H1 Mrs Eaves 55pt Dark</h1>
        <h2>H2 Mrs Eaves 45pt Dark</h2>
        <h3>H3 Mrs Eaves 35pt Dark</ha3>
            <h4>H4 Mrs Eaves 25pt Dark</h4>
            <h5>H4 Mrs Eaves 25pt Dark</h5>
            <h6>H4 Mrs Eaves 25pt Dark</h6>
            <span class="sub-heading">Be the first to know!</span>
            <span class="heading-with-left-right-icon">In the News</span>
            <p>
                Body Text 16pt Regular Gilroy Center Body Text 16pt Regular Gilroy
                <strong>Body Text 16pt Bold Gilroy</strong>
                <b>Body Text 16pt Bold Gilroy</b>
                <a>click me</a>
            </p>
            <hr>
            <ul>
                <li>Body Text 16pt Regular Gilroy Center Body Text 16pt Regular Gilroy</li>
                <li>Body Text 16pt Regular Gilroy Center Body Text 16pt Regular Gilroy</li>
                <li>Body Text 16pt Regular Gilroy Center Body Text 16pt Regular Gilroy</li>
                <li>Body Text 16pt Regular Gilroy Center Body Text 16pt Regular Gilroy</li>
                <li>Body Text 16pt Regular Gilroy Center Body Text 16pt Regular Gilroy</li>
            </ul>
            <ol>
                <li>Body Text 16pt Regular Gilroy Center Body Text 16pt Regular Gilroy</li>
                <li>Body Text 16pt Regular Gilroy Center Body Text 16pt Regular Gilroy</li>
                <li>Body Text 16pt Regular Gilroy Center Body Text 16pt Regular Gilroy</li>
                <li>Body Text 16pt Regular Gilroy Center Body Text 16pt Regular Gilroy</li>
                <li>Body Text 16pt Regular Gilroy Center Body Text 16pt Regular Gilroy</li>
            </ol>

            <p class="large">
                Body Text 16pt Regular Gilroy Center Body Text 16pt Regular Gilroy
                <strong>Body Text 16pt Bold Gilroy</strong>
                <b>Body Text 16pt Bold Gilroy</b>

            </p>


            <a href="#" class="btn--primary">shop now</a>
            <a href="#" class="btn--secondary">shop now</a>
    </div>


    <a href="#" class="link--primary ">Shop Collection</a>


</div>
</div>

<div class="five-column-list-content-with-heading">
    <div class="container-1920">
        <h2 class="text-center">Topics of interest</h2>
        <div class="list-block-outer flex-wrap">

            <ul>
                <li>Animal Research & Safety
                </li>
                <li>Environmental Programs
                </li>
                <li>Indoor Air Quality (IAQ)
                </li>
                <li>Radiation Safety
                </li>
            </ul>

            <ul>
                <li>Animal Research & Safety
                </li>
                <li>Environmental Programs
                </li>
                <li>Indoor Air Quality (IAQ)
                </li>
                <li>Radiation Safety
                </li>
            </ul>

            <ul>
                <li>Animal Research & Safety
                </li>
                <li>Environmental Programs
                </li>
                <li>Indoor Air Quality (IAQ)
                </li>
                <li>Radiation Safety
                </li>
            </ul>

            <ul>
                <li>Animal Research & Safety
                </li>
                <li>Environmental Programs
                </li>
                <li>Indoor Air Quality (IAQ)
                </li>
                <li>Radiation Safety
                </li>
            </ul>

            <ul>
                <li>Animal Research & Safety
                </li>
                <li>Environmental Programs
                </li>
                <li>Indoor Air Quality (IAQ)
                </li>
                <li>Radiation Safety
                </li>
            </ul>

        </div>
    </div>
</div>

<div class="three-column-image-content-section">
<div class="container-1920">
<ul class="flex-wrap">
<li>
<div class="image-section">
						<img src="http://dukeoeso.lndo.site/themes/custom/dukeoeso/images/dummy-image.jpg"/>
</div>
<div class="content">
<h2>Committed to Safety 
& Health</h3>
<p>Duke University and Duke University Health System are committed to fostering excellence and leadership in education, healthcare delivery, medical teaching and </p><a  class="btn--primary">Learn more</a></div>

</li>
<li>
<div class="image-section">
						<img src="http://dukeoeso.lndo.site/themes/custom/dukeoeso/images/dummy-image.jpg"/>
</div>
<div class="content">
<h2>Headline 2</h3>
<p><a>The Occupational and Environmental Safety Office (OESO) exists</a> to support this Institutional effort by promoting a safe environment for the Duke Community that is conducive to achieving such excellence while providing the highest level of customer service possible. OESO is committed to providing expertise in safety and health in a friendly, responsive and enthusiastic manner.</p>
<a  class="btn--primary">Learn more</a>
</div>

</li>
<li>
<div class="image-section">
						<img src="http://dukeoeso.lndo.site/themes/custom/dukeoeso/images/dummy-image.jpg"/>
</div>
<div class="content">
<h2>Committed To Safety 
& Health</h3>
<p>Duke University and Duke University Health System are committed to fostering excellence and leadership in education, healthcare delivery, medical teaching and </p>
<a  class="btn--primary">Learn more</a>
</div>

</li>
</ul>
    </div>
</div>





<div class="two-column-image-and-one-content-section">
<div class="container-1920 flex-wrap">
<ul class="flex-wrap">
<li>
<div class="image-section">
						<img src="http://dukeoeso.lndo.site/themes/custom/dukeoeso/images/dummy-image.jpg"/>
</div>
<div class="content">
<h6>Text Announcement</h6>
<p>Teaser text on what this could be ending...</p></div>

</li>
<li>
<div class="image-section">
						<img src="http://dukeoeso.lndo.site/themes/custom/dukeoeso/images/dummy-image.jpg"/>
</div>
<div class="content">
<h6>Text Announcement</h6>
<p>Teaser text on what this could be ending...</p></div>

</li>
</ul>
<div class="content-section">

<div class="content">
<h6 class="uppercase">Access Resources</h6>
<h2>Visit our document repository</h2>
<p>This area is reserved for details. The carousel should be reserved for photos. Graphic designs should not be allowed. This text is illegible to people who use accessibility tools to access the internet. Keep the details here. </p>
<a  class="btn--primary">Learn more</a>
</div>
  </div>
    </div>
</div>
