{% extends 'paragraph.html.twig' %}
{% block content %}
	<div class="five-column-list-content-with-heading">
		<div class="container-1920">
			<h2 class="text-center">
      {{content.field_section_title}}</h2>
			<div class="list-block-outer ">
				<ul>
					{{content.field_paragraph}}
				</ul>
			</div>
		</div>
	</div>
{% endblock content %}
