{% extends 'paragraph.html.twig' %}
{% block content %}
	<div class="five-column-list-content-with-heading">
		<div class="container-1920">
			<h2 class="text-center">Topics of interest</h2>
			<div class="list-block-outer ">
				<ul>
					{{content.field_5_clmn_card_mini_para}}
				</ul>
			</div>
		</div>
	</div>
{% endblock content %}
